.scooters
    &_onerow
        position: relative
        .etwo
            transform: translateX(-16px)
        .esecond
            transform: translate(-6px)
        .esl
            transform: translateX(-28px)
        .air
            width: 90px
            transform: translateX(-50px)
        .f
            transform: translateX(-45px)
        .ks
            transform: translateX(-35px)
        .e
            transform: translateX(-30px)
        .tfive
            transform: translateX(-50px)
        .fthree
            transform: translateX(-40px)
        .efour
            transform: translateX(-23px)
        .efive
            transform: translateX(-25px)
        .max
            transform: translateX(-15px)
        .mak
            transform: translateX(-10px)
        .small
            transform: translateX(-10px)

    &_tworow
        .zing
            margin-left: 18px
        .accessories
            width: 115px
        .estwo
            margin-left: 9px
        .esthree
            margin-left: 8px
        .esfour
            width: 100px
        .textfour
            margin-left: 20px


.access
    &_flex
        .two
            margin-top: 48px
        .three
            margin-top: 38px

        .speaker
            width: 176px
            height: 99px
            top: 40px
            left: 70px
        .extension
            width: 56px
            height: 157px
            left: 130px
            bottom: 59%
        .protective
            width: 133px
            height: 104px
            top: 34px
            left: 81px
        
        .backpack
            width: 99px
            height: 144px
            top: 10px
            left: 105px
        .battery
            width: 47px
            height: 197px
            left: 140px
            bottom: 195px
            transform: rotate(60deg)
        .charger
            width: 156px
            height: 117px
            top: 30px
            left: 80px

        .bag
            width: 108px
            height: 133px
            left: 115px
        .phone
            width: 87px
            height: 141px
            top: 10px
            left: 115px
        .holder
            width: 119px
            height: 133px
            left: 100px
        
        .seven
            margin-top: -1px

.overview
    &_kickscooter
        position: relative
    .white-circle
        position: absolute
        width: 10px
        height: 10px
        top: 60px
        left: 43%
        border: 2px solid $main-color
        border-radius: 50%
        background-color: #fff

    .line1
          position: absolute
          top: 113px
          left: 135px
          border: 2px solid $third-color
          width: 150px
          height: 0px
          transform: rotate(-40deg)
          opacity: 50%

    .line2
          border-top: 4px solid $third-color
          width: 19%
          position: absolute
          top: 64px
          left: 24.6%
          opacity: 50%


    // First line
    .one-line
        width: 127px
        top: 198.2px
        left: 38px
        transform: rotate(0deg)

    .three-line
        width: 145px
        top: 234.9px
        left: 107px
        transform: rotate(0deg)

    .five-line
        width: 200px
        top: 271px
        left: 83px
        transform: rotate(0deg)

    .seven-line
        width: 240px
        top: 307.7px
        left: 167px
        transform: rotate(0deg)
    
    .nine-line
        width: 263px
        top: 343.8px
        left: 163px
        transform: rotate(0deg)
    
    .eleven-line
        width: 245px
        top: 381.7px
        left: 87px
        transform: rotate(0deg)
    
    .thirteen-line
        width: 180px
        top: 417px
        left: 102px
        transform: rotate(0deg)

    
    // Second line
    .two-line
        width: 14.5%
        top: 147px
        left: 13.3%
        transform: rotate(-40deg)
    
    .four-line
        width: 17%
        top: 175px
        left: 230px
        transform: rotate(-40deg)

    .six-line
        width: 226px
        top: 199px
        left: 23.6%
        transform: rotate(-40deg)
    
    .eight-line
        width: 17px
        top: 306px
        left: 37.2%
        transform: rotate(-12deg)
    
    .ten-line
        width: 26px
        top: 335px
        left: 38.7%
        transform: rotate(-40deg)
    
    .twelve-line
        width: 83px
        top: 394.5px
        left: 30.2%
        transform: rotate(19deg)

    .fourteen-line
        width: 80px
        top: 454.5px
        left: 30%
        transform: rotate(0deg)


    // Third line
    .line3
        border-top: 4px solid $third-color
        width: 12%
        position: absolute
        top: 96px
        left: 26%
        opacity: 50%

    .line-extra
        width: 60px
        top: 436px
        left: 25.2%
        transform: rotate(40deg)


    // Circles
    .second-circle
        top: 92px
        left: 38%

    .third-circle
        top: 113px
        left: 35%

    .fourth-circle
        top: 125px
        left: 40.7%

    .fifth-circle
        top: 300px
        left: 37.8%

    .sixth-circle
        top: 326px
        left: 39.7%

    .seventh-circle
        top: 403px
        left: 36.7%

    .eighth-circle
        top: 450px
        left: 37%


    // Overview-second-line

    // 1-line
    .line4
        position: absolute
        top: 142px
        left: 56.2%
        border: 2px solid $third-color
        width: 255px
        height: 0px
        transform: rotate(0deg)
        opacity: 50%

    .line-one
        width: 530px
        top: 178.7px
        left: 47%

    .line-three
        width: 165px
        top: 215px
        left: 68.2%

    .line-five
        width: 187px
        top: 252px
        left: 68.5%

    .line-seven
        width: 207px
        top: 288px
        left: 71.4%

    .line-nine
        width: 200px
        top: 325px
        left: 73%

    .line-eleven
        width: 190px
        top: 362px
        left: 73%
    
    .line-thirteen
        width: 182px
        top: 398.5px
        left: 74.3%

    .line-fifteen
        width: 200px
        top: 434.5px
        left: 73%

    // 2-line
    .line5
        border-top: 4px solid $third-color
        width: 66px
        position: absolute
        top: 120px
        left: 51%
        transform: rotate(40deg)
        opacity: 50%
    
    .line-two
        width: 83px
        top: 202px
        left: 40.3%
        transform: rotate(-35deg)

    .line-four
        width: 325px
        top: 339px
        left: 44%
        transform: rotate(-50deg)

    .line-six
        width: 237px
        top: 342px
        left: 51%
        transform: rotate(-50deg)

    .line-eight
        width: 265px
        top: 388px
        left: 51.7%
        transform: rotate(-50deg)
    
    .line-ten
        width: 163px
        top: 381px
        left: 60.5%
        transform: rotate(-45deg)

    .line-twelve
        width: 112px
        top: 400px
        left: 64.4%
        transform: rotate(-45deg)
    
    .line-fourteen
        width: 100px
        top: 432px
        left: 66.6%
        transform: rotate(-45deg)

    .line-sixteen
        width: 100px
        top: 464px
        left: 65%
        transform: rotate(-38deg)
    
    // 3-line
    .line6
        border-top: 4px solid $third-color
        width: 8.7%
        position: absolute
        top: 99px
        left: 43%
        opacity: 50%

    // Circles
    .circle-one
        top: 93px
        left: 42.5%

    .circle-two
        top: 220px
        left: 40.2%
    
    .circle-three
        top: 79.6%
        left: 48.3%

    .circle-four
        top: 74%
        left: 54%

    .circle-five
        top: 83%
        left: 55.5%

    .circle-six
        top: 73.8%
        left: 62.5%
    
    .circle-seven
        top: 75.5%
        left: 65%

    .circle-eight
        top: 79%
        left: 67.6%

    .circle-nine
        top: 84.5%
        left: 65%